*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  position: relative;
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  background-color: mintcream;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.logo-container img {
  height: 11vh;
  margin-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  position: relative;
}

header {
  background-color: #005555;
}

nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-buttons-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-buttons-container ul {
  display: flex;
  list-style-type: none;
  margin-right: 10px;
}

.nav-buttons-container a {
  text-decoration: none;
  color: #a1e3d8;
  padding-left: 3vw;
  padding-right: 3vw;
}

nav > div > ul > li {
  background-color: #f7ff93;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
}

nav > div > ul > li:hover {
  font-weight: bold;
  background-color: #a1e3d8;
  border-radius: 16px;
  transform: scale(1.25);
  transition: ease 250ms;
}

li.opcion {
  float: left;
  margin: 0px 20px;
  border: 2px solid #777777;
  box-shadow: 6px 6px 1px -1px rgba(0, 0, 0, 0.48);
}

a.opcion {
  display: block;
  padding: 5px;
  color: #005555;
  font-size: 18px;
}

h1 {
  margin-bottom: 5vh;
  margin-top: 3vh;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.presentation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 5vh;
}

.flip-card-home {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner-home {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.flip-card-home:hover .flip-card-inner-home {
  transform: rotateY(180deg);
}

.flip-card-front-home, .flip-card-front-home img,
.flip-card-back-home {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back-home {
  background-color: #005555;
  color: #a1e3d8;
  transform: rotateY(180deg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.flip-card-back-home p {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: -5%;
}

.flip-card-back-home span {
  color: #f7ff93;
  font-weight: bold;
  padding-top: 3vh;
  font-size: 27px;
}

.container-title-description {
  background-color: mintcream;
  margin: 0 auto;
  padding: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.container-title-description p {
  font-size: 20px;
  text-align: center;
}

.flip-card-content {
  background-color: transparent;
  width: 100%;
  height: 330px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: auto;
  border-radius: 10px;
}

.flip-card-inner-content div > img, iframe {
  width: 100%;
  height: 330px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}

.flip-card-inner-content {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
.flip-card-content:hover .flip-card-inner-content {
  transform: rotateY(180deg);
}
  
.flip-card-front-content, .flip-card-back-content {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
}
  
.flip-card-front-content {
  background-color: mintcream;
  color: black;
}
  
.flip-card-back-content {
  background-color: mintcream;
  color: white;
  transform: rotateY(180deg);
}

.container-places {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  padding-left: 7vw;
  padding-right: 7vw;
  grid-auto-rows: auto;
  grid-gap: 25px;
}

.first-place-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.second-place-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.third-place-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 25px;
  grid-gap: 25px;
}

.info-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 0 auto;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 3vh;
}

.info-container{
  background-color: #a1e3d8;
  box-shadow: 3px 3px 3px gray;
  border-radius: 10px;
  padding: 2vw;
  align-items: center;
}

.vid-iniciatec iframe{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
}

.form-container {
  background-color: #005555;
  color: #a1e3d8;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  padding: 4vh 3vw 4vh 3vw;
  box-shadow: 3px 3px 3px gray;
  align-self: stretch;
}

.form-name,
.form-lname,
.form-email,
.form-comment {
  padding-top: 2vh;
  width: 100%;
}

.form-name > input,
.form-lname > input,
.form-email > input,
.form-comment > textarea {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  padding: 1%;
}

.container-iframes {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-auto-rows: auto;
  grid-gap: 25px;
}

.iframe-clima iframe {
  display: flex;
  justify-content: center;
  background-color: #A1E3D8;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  width: 100%;
  height: 380px;
  border: none;
}

.iframe-spotify {
  background-color: #A1E3D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}

.iframe-spotify p {
  padding: 2%;
}

.iframe-spotify iframe {
  height: 270px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  width: 90%;
  border: none;
}

.container-button-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.a-view-more-content {
  background-color: #F7FF93;
  padding: 1%;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #005555;
  border: none;
  border-radius: 3px;
  margin-right: 1vw;
  margin-bottom: 1vh;
  align-self: flex-end;
  text-decoration: none;  
}

.a-view-more-content:hover {
  background-color: #A1E3D8;
}

.submit-button {
  background-color: #f7ff93;
  padding: 0.8vh 1vw 0.8vh 1vw;
  color: #005555;
  border: none;
  border-radius: 3px;
  margin-top: 2vh;
  cursor: pointer;
}

.submit-button:hover {
  background-color:  #a1e3d8;
}

.form-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.info-form-container {
  color: #005555;
}

.info-form-container span {
  font-weight: bold;
  font-size: 18px;
}

.info-form-container p {
  margin-top: 1%;
  text-align: justify;
}

.container-card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-auto-rows: auto;
  grid-gap: 25px;
}

.card {
  background-color: #005555;
  color: #A1E3D8;
  align-items: center;
  align-self: center;    
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}

.container {
  align-items: center;
  align-self: center;
  padding-left: 3vw;
  padding-right: 3vw;
}

.container h3{    
  text-align: center;
  margin-bottom: 1vh;
  color: #F7FF93;
}

.container p {
  text-align: justify;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2vh;
}

.a-view-more {
  background-color: #F7FF93;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #005555;
  border: none;
  border-radius: 3px;
  margin-top: 2vh;
  margin-right: 2vw;
  margin-bottom: 2vh;
  align-self: flex-end;
  text-decoration: none;  
}

.a-view-more:hover{
  background-color: #a1e3d8;
}

footer {
  background-color: #005555;
  color: #a1e3d8;
}

.scroll-container {
  position: absolute;
  top: 0;
  right: 12%;
  height: 100%;
}

.scroll-container:before {
  content: '';
  display: block;
  height: 105vh;
  pointer-events: none;
}

.scroll-container a {
  position: sticky;
  top: 75vh;
  cursor: pointer;
  font-size: 40px;
  color: transparent;
  background: url(../assets/up-arrow.png) no-repeat;
}

.container-rights {
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  display: flex;
  justify-content: space-around;
}
.container-links {
  display: flex;
  justify-content: space-around;
  padding: 2vw;
  padding-bottom: 3vh;
}

.container-links a {
  display: grid;
  justify-items: center;
  text-decoration: none;
  color: #a1e3d8;
}

.descript-container {
  padding: 5px;
  background-color: #005555;
  color: #A1E3D8;
  align-items: center;
  align-self: center;    
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}

.descript-container h2 {
  color: #F7FF93;
  margin: 10px;
  text-decoration: none;
}

.descript-container p {
  margin: 10px;
  text-align: justify;
}

.yt-iframe, iframe {
  width: 100%;
  border: none;
  margin: auto;
}


